#header_bg {
  background-color: #eee;
}
#header_bg header {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  min-width: 320px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background: aqua;
  height: 70px;
}
#header_bg header nav {
  background-color: yellow;
}
#header_bg header nav a {
  margin-left: 16px;
}
#header_bg header nav a:first-child {
  margin: 0;
}

#slide_wrap {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  min-width: 320px;
  position: relative;
}
#slide_wrap .slide_container .slide {
  display: none;
}
#slide_wrap .slide_container .slide1 {
  display: block;
}
#slide_wrap .prev, #slide_wrap .next {
  position: absolute;
}
#slide_wrap .prev {
  left: 20px;
  top: 45%;
}
#slide_wrap .next {
  right: 20px;
  top: 45%;
}
#slide_wrap .pagenation {
  background-color: brown;
  position: absolute;
  width: 1200px;
  left: 0;
  bottom: 5%;
  width: 100%;
  text-align: center;
}
#slide_wrap .pagenation a {
  background: #ccc;
  width: 16px;
  height: 16px;
  display: inline-block;
  border-radius: 50%;
  text-indent: -9999px;
  margin-right: 10px;
}
#slide_wrap .pagenation a.active {
  background: #fff;
}
#slide_wrap .pagenation a:last-child {
  margin: 0;
}

#gallery_wrap {
  background: lime;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  min-width: 320px;
  padding: 50px 0;
}
#gallery_wrap .gallery {
  width: 100px;
  height: 100px;
}
#gallery_wrap .gallery img {
  width: 100%;
}
#gallery_wrap .g5 {
  width: 200px;
  height: 200px;
}

#bnr_wrap {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  min-width: 320px;
  background: #000;
  width: 100%;
  height: 150px;
  text-align: center;
  line-height: 150px;
}
#bnr_wrap span {
  color: #fff;
}

#card_wrap {
  background-color: #eee;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  min-width: 320px;
  padding: padding50;
}
#card_wrap .card {
  background-color: beige;
  width: 20%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 20px 5px;
}
#card_wrap .card .photo img {
  width: 100%;
}
#card_wrap .card h2 {
  padding-bottom: 20px;
}
#card_wrap .card p {
  padding-bottom: 30px;
}

#qa_wrap {
  width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
}
#qa_wrap h2 {
  font-size: 1.15rem;
  margin-bottom: 10px;
}
#qa_wrap #qaFrm {
  color: #000;
}
#qa_wrap #qaFrm fieldset {
  display: flex;
  flex-flow: column nowrap;
}
#qa_wrap #qaFrm fieldset input[name$=id] {
  background-color: #999;
  padding: 10px 0;
  margin-bottom: 10px;
}
#qa_wrap #qaFrm fieldset input[name$=number] {
  background-color: #999;
  padding: 10px 0;
  margin-bottom: 10px;
}
#qa_wrap #qaFrm fieldset #user_qa {
  background-color: #999;
  padding: 10px 0 150px;
  margin-bottom: 10px;
}
#qa_wrap #qaFrm fieldset #qa_btn {
  background-color: #000;
  padding: 20px 0;
  color: #fff;
}

footer {
  background-color: #000;
  height: 100px;
  margin-top: 30px;
  text-align: center;
  color: #fff;
  line-height: 100px;
}/*# sourceMappingURL=style.css.map */